@import '../vars';
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  margin: 0;

  &-nav {
    padding: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-item {
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      font-weight: 800;
      text-decoration: none;
      color: $violet;
    }
  }

  &-quote {
    display: flex;
    justify-content: center;
    padding-top: 58px;
    flex-grow: 1;

    &-text {
      font-family: 'Kanit', sans-serif;
      font-size: 48px;
      font-weight: 800;
      color: black;
      text-align: right;
    }
  }
}

.logo {
  height: 45px;
}


