.projects {
  background-color: $violet;
  padding: 60px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;

  &-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: $light;
    text-align: center;
  }

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.project {
  &-card {
    width: 340px;
    height: 530px;
    display: flex;
    flex-direction: column;
    transition: transform 400ms;
    margin: 30px;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.image {
  background-color: $lightViolet;
  &-project {
    width: 340px;
    height: 240px;
    background-color: transparent;
  }
}

.content {
  background-color: $darkViolet;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: $lightYellow;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.description {
  color: $light;
  font-family: 'Inter', sans-serif;
}

.readmore {
  color: $lightYellow;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-decoration: none;
}